.accordion {
    position: relative;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.accordion.active {
    height: auto!important;
}
.accordion-label i {
    transition: all 300ms ease-in-out;
}
.accordion-label.active {
    background: #336699!important;
    color: #fff;
}
.accordion-label.active i {
    color: #fff;
}
.accordion-content {
    visibility: collapse;
    opacity: 0;
    height: 0!important;
    transition: all 300ms ease-in-out;
    pointer-events: none;
}
.accordion-content.active {
    visibility: visible;
    opacity: 1;
    height: auto!important;
    pointer-events: all;
    padding: 20px 10px!important;
}
