<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debonair Group | Consultation </title>

    <!-- Favicon -->

    <!-- Open Graph -->
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/all.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/swiper.css" />

    <!-- Custom Fonts -->
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body class="bg-white">
    <!-- header -->
    <header class="h-20 w-full flex items-center justify-center position relative header">
        <!-- Header Inner -->
       <section class="h-full w-11/12 md:w-10/12 flex flex-col items-center justify-center space-y-5">
            <!-- Header Nav -->
            <nav class="h-auto w-full flex items-center justify-between">
                <!-- Logo -->
                <div class="h-auto w-auto flex items-center justify-start space-x-10">
                    <a href="../index.html" class="font-medium text-lg">
                        <img alt="" src="../assets/img/logo.png" style="max-width: 75px;" />
                    </a>
                    <!-- Menu -->
                    <ul class="h-full w-full flex items-center justify-end space-x-3 hideOnMobile desktopMenu">
                        <li class="position relative">
                            <a 
                            href="../index.html" 
                            target="_self" 
                            rel="noreferrer" 
                            class="font-normal text-md text-gray-800">Home</a>
                        </li>
                        <li class="position relative">
                            <a href="./about.html" target="_self" rel="noreferrer" 
                            class="font-normal text-md text-gray-800">About</a>
                        </li>
                        <li class="position relative">
                            <a href="./solutions.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Solutions</a>
                            <!-- Dropdown -->
                            <div class="h-0 w-60 bg-white shadow-lg position absolute top-full mt-1 transform -translate-x-[35%]
                            flex flex-col items-start justify-start space-y-3 border-t-2 border-[#336699] py-2 link-dropdown">
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                    Online Training School
                                </a>
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                    Consultation
                                </a>
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                   Learning Management System
                                </a>
                            </div>
                        </li>
                        <li class="position relative">
                            <a href="./resources.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Resources</a>
                        </li>
                        
                    </ul>
                </div>

                <!-- Menu -->
                <ul class="h-full w-full flex items-center justify-end space-x-5 hideOnMobile">
                    <li>
                        <a href="./contact.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Support</a>
                    </li>
                    <li>
                        <button class="h-10 bg-[#336699] text-white rounded-md px-5">Make Inquiry</button>
                    </li>
                </ul>

                <!-- Drawer -->
                <div id="hamburger" class="h-10 w-8 flex flex-col items-start justify-center space-y-1 hideOnDesktop">
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                </div>

                <!-- Mobile Menu -->
                <ul 
                id="drawer"
                class="h-full w-full bg-white rounded-md flex flex-col items-center justify-center space-y-5 
                position fixed top-0 right-0 z-100 shadow-lg transform -translate-y-[300%] transition duration-700 hideOnDesktop" 
                >
                    <!-- Close -->
                    <div class="h-10 w-10 position absolute top-3 right-2 font-medium" id="closeDrawer">
                        <i class="la la-times-circle text-2xl"></i>
                    </div>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a 
                        href="../index.html" 
                        target="_self" 
                        rel="noreferrer" 
                        class="font-normal text-lg text-gray-800 pb-1">Home</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./about.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-[#336699]
                        border-b-4 border-[#336699]">About</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./solutions.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-gray-800">Solutions</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./resources.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-gray-800">Resources</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./contact.html" class="h-10 bg-[#336699] text-white text-lg rounded-md px-10
                        flex items-center justify-center">Contact Us</a>
                    </li>
                </ul>
            </nav>
       </section>
    </header>

    <!-- content -->
    <main class="h-auto w-full overflow-hidden">
        <!-- Hero -->
        <section id="sectionOne" class="h-auto md:h-[40rem] w-full flex items-center justify-center mt-10">
            <!-- Inner -->
            <div class="h-full w-11/12 md:w-10/12 flex flex-col md:flex-row items-center justify-center">
                <!-- Left -->
                <div class="h-full w-full md:w-[60%] flex flex-col items-start justify-center">
                    <h2 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="w-full md:w-9/12 text-3xl md:text-7xl font-bold leading-snug md:leading-1 text-black">
                    Debonair Takes The Wheel And Think For You
                    </h2>
                    <p 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    class="w-full md:w-7/12 my-8 text-lg font-normal text-gray-500 leading-normal">
                    Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
                    </p>
                    <a 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="300"
                    href="./contact.html" target="_self" rel="noreferrer" 
                    class="h-12 w-full md:w-56 bg-[#336699] text-lg text-white rounded-md px-2 hover:bg-white hover:text-[#336699]
                    flex items-center justify-center font-medium transition duration-700 hover:shadow-none hover:border border-[#336699]">
                        Get in touch
                    </a>
                    <div class="h-auto w-full flex flex-col items-start justify-start mt-10 space-y-3">
                        <h3 
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="350"
                        class="w-full font-medium text-sm text-gray-800 text-center md:text-left">As seen in</h3>
                        <div 
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="400"
                        class="w-full flex flex-col md:flex-row items-center justify-center md:justify-start space-y-3 md:space-y-0 md:space-x-3">
                            <div class="bg-gray-100 h-12 w-32 rounded-md"></div>
                            <div class="bg-gray-100 h-12 w-32 rounded-md"></div>
                            <div class="bg-gray-100 h-12 w-32 rounded-md"></div>
                            <div class="bg-gray-100 h-12 w-32 rounded-md"></div>
                        </div>
                    </div>
                </div>
                <!-- Right -->
                <div class="h-[35rem] md:h-96 md:h-full w-full md:w-[40%] flex flex-row items-center justify-end">
                   <img 
                   data-aos="zoom-out"
                   data-aos-duration="1000" 
                   data-aos-delay="500"
                   src="../assets/img/consultation-mockup.png" alt="Mockup" style="height: auto; position: absolute;" class="w-[300px] md:w-[500px] md:right-[100px]" />
                </div>
            </div>
        </section>

        <!-- Section One -->
        <section class="h-auto w-full flex items-center justify-center my-20 md:my-32">
            <!-- inner -->
            <div class="h-full w-11/12 md:w-10/12 flex flex-col md:flex-row items-center justify-center space-y-20">
                <!-- Left -->
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="h-full w-full md:w-1/2 flex items-center justify-center md:p-0">
                    <img src="../assets/img/consultation-section-one-mockup.png" class="w-[100%] md:w-[100%]" alt="" />
                </div>
                <!-- Right -->
                <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-start md:p-10 space-y-5">
                    <h2 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="w-full md:w-9/12 text-4xl md:text-5xl font-medium leading-snug">Work With Us Not For Us</h2>
                    <p 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="5"
                    class="w-11/12 text-lg md:text-xl text-gray-800 leading-loose">
                        Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
                    </p>
                </div>
            </div>
        </section>

        <!-- Section Two -->
        <section class="h-auto w-full flex flex-col items-center justify-center my-20 md:my-32">
            <div class="h-full w-11/12 md:w-10/12 flexflex-col  items-start justify-start">
                <h2 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="w-full md:w-7/12 text-4xl md:text-5xl font-medium leading-snug m-0">Grow With A Digital Edutech  Agency You Can Trust?</h2>
                <!-- inner -->
                <div class="h-auto w-full flex flex-col md:flex-row items-center justify-center">
                    <!-- Left -->
                    <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-start space-y-5">
                        <p 
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="150"
                        class="w-full text-md md:text-lg text-gray-800 leading-loose">
                            Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
                        </p>
                        <div 
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                        class="h-auto w-full flex items-center justify-center">
                            <img src="../assets/img/consultation-section-two-mockup-a.png" class="w-[100%]" alt="" />
                        </div>
                    </div>
                    <!-- Right -->
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="250"
                    class="h-full w-full md:w-1/2 flex items-center justify-center md:p-10">
                        <img src="../assets/img/consultation-section-two-mockup-b.png" class="w-[100%]" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Three -->
        <section class="h-auto w-full flex flex-col items-center justify-center my-20 md:my-32">
            <div class="h-full w-11/12 md:w-10/12 flexflex-col rounded-md items-start justify-start bg-[#336699] p-3 md:p-10 space-y-10">
                <h2 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="w-full md:w-5/12 text-4xl md:text-5xl font-normal text-white leading-snug m-0">Full Services Debonair Offers</h2>
                <!-- inner -->
                <div class="h-auto w-full grid grid-cols-1 md:grid-cols-2 gap-10">
                    <!-- Block -->
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="h-auto w-full bg-white rounded-md p-5 flex flex-col items-start justify-start space-y-4 py-16">
                        <div 
                        class="h-20 w-20 bg-[#336699] p-4 rounded-full flex items-center justify-center">
                            <i class="la la-search text-4xl text-white"></i>
                        </div>  
                        <h2 class="text-2xl font-medium w-full md:w-7/12">Research and discovery</h2>
                        <p class="w-full md:w-8/12 leading-loose text-gray-400">Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <!-- Block -->
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="150"
                    class="h-auto w-full bg-white rounded-md p-5 flex flex-col items-start justify-start space-y-4 py-16">
                        <div class="h-20 w-20 bg-[#336699] p-4 rounded-full flex items-center justify-center">
                            <i class="la la-search text-4xl text-white"></i>
                        </div>
                        <h2 class="text-2xl font-medium w-full md:w-7/12">Marketing Strategy</h2>
                        <p class="w-full md:w-8/12 leading-loose text-gray-400">Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                     <!-- Block -->
                     <div 
                     data-aos="fade-up"
                     data-aos-duration="1000"
                     data-aos-delay="200"
                     class="h-auto w-full bg-white rounded-md p-5 flex flex-col items-start justify-start space-y-4 py-16">
                        <div class="h-20 w-20 bg-[#336699] p-4 rounded-full flex items-center justify-center">
                            <i class="la la-search text-4xl text-white"></i>
                        </div>  
                        <h2 class="text-2xl font-medium w-full md:w-7/12">Project Management</h2>
                        <p class="w-full md:w-8/12 leading-loose text-gray-400">Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <!-- Block -->
                    <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="250"
                    class="h-auto w-full bg-white rounded-md p-5 flex flex-col items-start justify-start space-y-4 py-16">
                        <div class="h-20 w-20 bg-[#336699] p-4 rounded-full flex items-center justify-center">
                            <i class="la la-search text-4xl text-white"></i>
                        </div>
                        <h2 class="text-2xl font-medium w-full md:w-7/12">Consultant Specialist</h2>
                        <p class="w-full md:w-8/12 leading-loose text-gray-400">Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Four -->
        <section class="h-auto w-full flex items-center justify-center my-20 md:my-32">
            <!-- inner -->
            <div class="h-full w-11/12 md:w-10/12 flex flex-col md:flex-row items-center justify-center space-y-20">
                <!-- Left -->
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="h-full w-full md:w-1/2 flex items-center justify-center">
                    <img src="../assets/img/consultation-section-four-mockup.png" class="w-[100%]" alt="" />
                </div>
                <!-- Right -->
                <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-start md:p-10 space-y-5">
                    <h2 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="w-full text-4xl md:text-5xl font-medium leading-snug">How Our Technology Is Empowering Startups</h2>
                    <p 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="150"
                    class="w-full md:w-9/12 text-xl text-gray-800 leading-loose">
                        Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor.  
                    </p>
                    <button 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    class="flex items-center justify-start font-medium pb-1 border-b border-gray-800 space-x-4">
                        <span>Read more</span>
                        <i class="la la-arrow-right text-2xl text-gray-800"></i>
                    </button>
                </div>
            </div>
        </section>

        <!-- Section Five -->
        <section class="h-auto w-full flex items-center justify-center my-20 md:my-32">
            <!-- inner -->
            <div class="h-full w-full md:w-10/12 bg-[#336699] p-10 md:p-20 rounded-md flex flex-col 
            md:flex-row items-center justify-center space-y-20">
                <!-- Left -->
                <div class="h-full w-full md:w-1/2 flex flex-col items-start justify-center p-0 space-y-5">
                    <h2 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="w-full md:w-11/12 text-4xl md:text-5xl font-medium leading-snug text-white">Let’s Work Something Together.</h2>
                    <p 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="150"
                    class="w-full md:w-9/12 text-md md:text-lg text-gray-800 leading-loose text-white">
                        Discover how we can help your business grow 
                    </p>
                    <button 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    class="bg-black rounded-full text-white flex items-center justify-center 
                    font-medium space-x-4 px-8 py-3">
                        <span>Get Started</span>
                        <i class="la la-arrow-right text-2xl text-white"></i>
                    </button>
                </div>
                <!-- Right -->
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="250"
                class="h-full w-full md:w-1/2 flex items-center justify-center">
                    <img src="../assets/img/consultation-section-five-mockup.png" class="w-[100%]" alt="" />
                </div>
            </div>
        </section>

    </main>
    
    <!-- footer -->
    <footer id="footer" class="h-auto w-full flex items-center justify-center mt-0 mb-5">
        <!-- Wrapper -->
        <div class="h-full w-11/12 md:w-10/12 rounded-md flex flex-col items-center justify-center space-y-5 bg-[#f9f9f9]
        overflow-hidden py-10">
            <!-- Inner -->
            <div class="w-full mx-auto flex flex-col items-center justify-center">
                <a 
                href="../index.html"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100">
                    <img alt="" src="../assets/img/logo.png" style="max-width: 75px;" />
                </a>
               <p 
               data-aos="fade-up"
               data-aos-duration="1000"
               data-aos-delay="150"
               class="w-11/12 md:w-5/12 text-[#336699]/70 text-center font-normal my-3 text-md">
                   Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod 
                   tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                class="my-8 flex flex-col md:flex-row items-center justify-center space-x-0 space-y-4 md:space-y-0">
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Terms of Service
                    </a>
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Privacy Policy
                    </a>
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Support Service
                    </a>
                    <a class="h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal md:pr-8" href="#" target="_blank" rel="">
                        Site Map
                    </a>
                </div>
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="250"
                class="my-8 flex items-center justify-center space-x-5">
                    <i class="la la-facebook cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                    <i class="la la-linkedin cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                    <i class="la la-instagram cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                   
                </div>
            </div>

            <!-- Copyright -->
            <div 
            data-aos="fade-up"
            data-aos-offset="10"
            data-aos-duration="1000"
            data-aos-delay="300"
            class="w-9/12 md:w-full text-sm text-[#336699]/70 text-center">&copy;Copyright 2022 Debonair Training | All Rights Reserved.</div>
        </div>
    </footer>

    <!-- scripts -->
 
    <!-- Swiper -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Custom Js -->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/drawer.js"></script>
    <script src="../assets/js/aos.js"></script>
</body>
</html>