<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debonair Group | Resources</title>

    <!-- Favicon -->

    <!-- Open Graph -->
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/all.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/swiper.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/accordion.css" />

    <!-- Custom Fonts -->
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body class="bg-white">
    <!-- header -->
    <header class="h-20 w-full flex items-center justify-center position relative header">
        <!-- Header Inner -->
       <section class="h-full w-11/12 md:w-10/12 flex flex-col items-center justify-center space-y-5">
            <!-- Header Nav -->
            <nav class="h-auto w-full flex items-center justify-between">
                <!-- Logo -->
                <div class="h-auto w-auto flex items-center justify-start space-x-10">
                    <a href="../index.html" class="font-medium text-lg">
                        <img alt="" src="../assets/img/logo.png" style="max-width: 75px;" />
                    </a>
                    <!-- Menu -->
                    <ul class="h-full w-full flex items-center justify-end space-x-3 hideOnMobile desktopMenu">
                        <li>
                            <a 
                            href="../index.html" 
                            target="_self" 
                            rel="noreferrer" 
                            class="font-normal text-md text-gray-800">Home</a>
                        </li>
                        <li>
                            <a href="./about.html" target="_self" rel="noreferrer" 
                            class="font-normal text-md text-gray-800">About</a>
                        </li>
                        <li class="position relative">
                            <a href="./solutions.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Solutions</a>
                            <!-- Dropdown -->
                            <div class="h-0 w-60 bg-white shadow-lg position absolute top-full mt-1 transform -translate-x-[35%]
                            flex flex-col items-start justify-start space-y-3 border-t-2 border-[#336699] py-2 link-dropdown">
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                    Online Training School
                                </a>
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                    Consultation
                                </a>
                                <a href="./consultation.html" class="p-3 w-full text-sm font-medium transition duration-700
                                hover:bg-gray-100">
                                   Learning Management System
                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="./resources.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Resources</a>
                        </li>
                        
                    </ul>
                </div>

                <!-- Menu -->
                <ul class="h-full w-full flex items-center justify-end space-x-5 hideOnMobile">
                    <li>
                        <a href="./contact.html" target="_self" rel="noreferrer" class="font-normal text-md text-gray-800">Support</a>
                    </li>
                    <li>
                        <button class="h-10 bg-[#336699] text-white rounded-md px-5">Make Inquiry</button>
                    </li>
                </ul>

                <!-- Drawer -->
                <div id="hamburger" class="h-10 w-8 flex flex-col items-start justify-center space-y-1 hideOnDesktop">
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                    <span class="h-[2px] w-11/12 bg-[#336699] rounded-full"></span>
                </div>

                <!-- Mobile Menu -->
                <ul 
                id="drawer"
                class="h-full w-full bg-white rounded-md flex flex-col items-center justify-center space-y-5 
                position fixed top-0 right-0 z-100 shadow-lg transform -translate-y-[300%] transition duration-700 hideOnDesktop" 
                >
                    <!-- Close -->
                    <div class="h-10 w-10 position absolute top-3 right-2 font-medium" id="closeDrawer">
                        <i class="la la-times-circle text-2xl"></i>
                    </div>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a 
                        href="../index.html" 
                        target="_self" 
                        rel="noreferrer" 
                        class="font-normal text-lg text-gray-800 pb-1">Home</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./about.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-[#336699]
                        border-b-4 border-[#336699]">About</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./solutions.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-gray-800">Solutions</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./resources.html" target="_blank" rel="noreferrer" class="font-normal text-lg text-gray-800">Resources</a>
                    </li>
                    <li class="h-auto w-full flex items-center justify-center">
                        <a href="./contact.html" class="h-10 bg-[#336699] text-white text-lg rounded-md px-10
                        flex items-center justify-center">Contact Us</a>
                    </li>
                </ul>
            </nav>
       </section>
    </header>

    <!-- content -->
    <main class="h-auto w-full overflow-hidden">
        <!-- Hero -->
        <section id="sectionOne" class="h-auto md:h-[40rem] w-full flex items-center justify-center mt-10">
            <!-- Inner -->
            <div class="h-full w-11/12 md:w-10/12 flex flex-col md:flex-row items-center justify-center">
                <!-- Left -->
                <div class="h-full w-full md:w-[60%] flex flex-col items-start justify-center">
                    <h2 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="w-full md:w-10/12 text-3xl md:text-7xl font-bold leading-snug md:leading-1 text-black">
                    Looking for Answers?
                    </h2>
                    <p 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    class="w-full md:w-9/12 my-8 text-lg font-normal text-gray-500 leading-loose">
                    We have compiled a curted list of questions and answers into the FAQ for the most of your questions for us, 
                    otherwise you can hit the button below to get some more answers.
                    </p>
                    <div class="w-full flex flex-col md:flex-row items-center justify-center md:justify-start 
                    md:space-x-5 space-y-3 md:space-y-0">
                        <a 
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                        href="" target="" rel="" 
                        class="h-12 w-full md:w-56 bg-[#336699] text-lg text-white rounded-md px-2 hover:bg-white hover:text-[#336699]
                        flex items-center justify-center font-medium transition duration-700 hover:shadow-none hover:border border-[#336699]">
                            Make Inquiry
                        </a>
                    </div>
                </div>
                <!-- Right -->
                <div class="h-[35rem] md:h-96 md:h-full w-full md:w-[40%] flex flex-row items-center justify-end">
                   <img 
                   data-aos="zoom-out"
                   data-aos-duration="1000" 
                   data-aos-delay="500"
                   src="../assets/img/resources-mockup.png" alt="Mockup" style="height: auto; position: absolute;" class="w-[300px] md:w-[500px] md:right-[100px]" />
                </div>
            </div>
        </section>

        <!-- Section One -->
        <section class="h-auto w-full flex flex-col items-center justify-center my-20 md:my-32">
            <!-- inner -->
            <div class="h-auto w-11/12 md:w-10/12 flex flex-col items-center justify-center space-y-10">
                <h2 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="h-auto w-full md:w-7/12 text-4xl md:text-5xl text-center font-medium leading-snug m-0">Frequently Asked Questions</h2>

                <p 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                class="h-auto w-full md:w-6/12 text-md md:text-lg leading-loose text-gray-400 text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>

                <!-- FAQs -->
                <div class="h-auto w-full md:w-5/12 mx-auto flex flex-col items-start justify-start space-y-1">
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                    <!-- Block -->
                    <div class="h-auto w-full rounded-sm accordion overflow-hidden">
                        <!-- Label -->
                        <div class="h-12 w-full flex items-center justify-between px-2 md:px-5 bg-gray-50 cursor-pointer accordion-label">
                            <span class="font-medium text-md">Do we get a free consultation?</span>
                            <i class="la la-plus-circle text-black text-3xl"></i>
                        </div>
                        <!-- Content -->
                        <div class="h-0 w-full bg-gray-100 accordion-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Two -->
        <section class="h-auto w-full flex flex-col items-center justify-center my-20 md:my-32">
            <!-- inner -->
            <div class="h-auto w-10/12 flex flex-col items-center justify-center space-y-10">
                <h2 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="w-full md:w-7/12 text-4xl md:text-5xl text-center font-medium leading-snug m-0">Video Walkthroughs</h2>

                <p 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                class="w-full md:w-6/12 text-md md:text-lg leading-loose text-gray-400 text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>

                <div class="h-auto w-full grid grid-cols-1 md:grid-cols-4 gap-10">
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="300"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="400"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="500"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="600"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="700"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                    <div 
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="800"
                    class="h-60 w-full rounded-md bg-gray-200"></div>
                </div>
            </div>
        </section>

        <!-- Section Three -->
        <section class="h-auto w-full my-10 flex flex-col items-center justify-center space-y-7 my-20 md:my-32">
            <!-- Inner -->
            <div class="h-auto md:h-[30rem] w-11/12 md:w-10/12 py-10 md:py-0 flex flex-col items-center justify-center bg-[#336699] 
            shadow-2xl shadow-[#336699]/50 rounded-md">
                <h2 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="50"
                class="w-11/12 md:w-6/12 font-medium text-2xl md:text-5xl text-white text-center">You still can’t find what you are looking for?</h2>
                <p 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
                class="w-8/12 md:w-5/12 text-sm text-white/70 text-center my-3">Get in touch with our team, so we can serve you better</p>
                <a 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="150"
                href="./contact.html" class="bg-white rounded-md text-[#336699] my-5 px-10 py-2 
                md:px-20 md:py-5 text-lg md:text-2xl font-medium">
                Contact us
                </a>
            </div>
        </section>


    </main>
    
    <!-- footer -->
    <footer id="footer" class="h-auto w-full flex items-center justify-center mt-0 mb-5">
        <!-- Wrapper -->
        <div class="h-full w-11/12 md:w-10/12 rounded-md flex flex-col items-center justify-center space-y-5 bg-[#f9f9f9]
        overflow-hidden py-10">
            <!-- Inner -->
            <div class="w-full mx-auto flex flex-col items-center justify-center">
                <a 
                href="../index.html"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100">
                    <img alt="" src="../assets/img/logo.png" style="max-width: 75px;" />
                </a>
               <p 
               data-aos="fade-up"
               data-aos-duration="1000"
               data-aos-delay="150"
               class="w-11/12 md:w-5/12 text-[#336699]/70 text-center font-normal my-3 text-md">
                   Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod 
                   tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
                class="my-8 flex flex-col md:flex-row items-center justify-center space-x-0 space-y-4 md:space-y-0">
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Terms of Service
                    </a>
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Privacy Policy
                    </a>
                    <a class="md:border-r md:border-[#336699]/20 h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal" href="#" target="_blank" rel="">
                        Support Service
                    </a>
                    <a class="h-5 w-full md:w-32 text-[#336699]/70 
                    flex items-center justify-center text-md md:text-sm font-normal md:pr-8" href="#" target="_blank" rel="">
                        Site Map
                    </a>
                </div>
                <div 
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="250"
                class="my-8 flex items-center justify-center space-x-5">
                    <i class="la la-facebook cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                    <i class="la la-linkedin cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                    <i class="la la-instagram cursor-pointer h-5 w-12 px-5 text-[#336699]/70 
                    flex items-center justify-center text-2xl font-normal">
                    </i>
                   
                </div>
            </div>

            <!-- Copyright -->
            <div 
            data-aos="fade-up"
            data-aos-offset="10"
            data-aos-duration="1000"
            data-aos-delay="300"
            class="w-9/12 md:w-full text-sm text-[#336699]/70 text-center">&copy;Copyright 2022 Debonair Training | All Rights Reserved.</div>
        </div>
    </footer>

    <!-- scripts -->
 
    <!-- Swiper -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Custom Js -->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/drawer.js"></script>
    <script src="../assets/js/swiper.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/accordion.js"></script>
</body>
</html>